<div class="admin" [class.main-loader]="isShowLoader">
  <h1 class="admin__title">Reviews</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="admin__content">
        <p class="admin__content-title">Reviews</p>
          <div class="admin__top">
            <table *ngIf="reviews.length"
                   datatable
                   id="review-table"
                   class="table table-striped table-bordered table-hover dataTable no-footer"
            >
             <thead>
             <tr>
               <th>ID</th>
               <th>Room</th>
               <th>User</th>
               <th>Title</th>
               <th>Review</th>
               <th>Answer</th>
             </tr>
             </thead>
             <tbody>
              <tr role="row" *ngFor="let review of reviews">
                <td class="text-center sorting_1">
                  <p>{{ review?.id }}</p>
                </td>
                <td class="text-center">
                  <p>{{ review?.roomId }}</p>
                </td>
                <td class="text-center">
                  <p>{{ review?.userId }}</p>
                </td>
                <td class="text-center">
                  <p>{{ review?.title }}</p>
                </td>
                <td class="text-center">
                  <textarea disabled class="form-control admin-reviews__textarea">{{ review?.review }}</textarea>
                </td>
                <td class="text-center">
                  <textarea class="form-control admin-reviews__textarea">{{ review?.answer }}</textarea>
                </td>
              </tr>
             </tbody>
           </table>
          </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
