@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/admin-templates";

:host /deep/ {
  flex-grow: 1;
  .admin {
    &__data {
      padding: 10px;
    }
    &__top {
      overflow-x: auto;
      min-height: .01%;
      &-select {
        display: flex;
        select {
          width: 75px;
          height: 30px !important;
          padding: 5px 10px;
          font-size: 12px;
          text-align: center;
          margin: 0 5px;
        }
        span {
          line-height: 30px;
        }
      }
      table {
        padding: 0 10px;
        border: none;
      }
    }
    .admin-reviews__textarea {
      padding: 4px;
      min-height: 100px;
      position: relative;
      right: 5px;
      margin: 0 auto;
      border-radius: 0;
      @include text-mixin($color-black, 12px, $font-source-sans-pro-regular);
      line-height: 1.1;
      box-shadow: none;
      border: 1px solid #d2d6de;
    }
  }
}
