@import "../../../../../assets/styles/variables";

:host /deep/ {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: auto;
  border-radius: 4px;
  display: flex;
  margin: 38px auto 124px;
  justify-content: space-between;
  flex-wrap: wrap;

  .room {

    &__wrapper {
      width: inherit;
      position: absolute;
    }

    &__title {
      padding: 69px 0 17px;
      text-align: center;
      @include text-mixin($color-white, 24px, $font-gotham-pro-bold);
      line-height: 1.58;
    }

    &__details {
      display: flex;

      justify-content: space-between;
      padding: 0 17px;
      .clock {
        width: 18.4px;
        height: 17.3px;
      }
      .person {
        width: 13.7px;
        height: 16.8px;
      }
      .genre {
        width: 18.5px;
        height: 18.5px;
      }
      &-item {
      }
      &-icon {

      }
      &-text {
        @include text-mixin($color-white, 14px, $font-gotham-pro-regular);
      }
    }

    &__btn {
      display: block;

      padding: 10px 0;
      width: 170px;
      margin: 30px auto 0;
    }
    &__bg {
      height: 290px;
      width: 297px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__bg-darkened {
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: rgba(3, 3, 2, 0.74);
      opacity: .5;
    }
  }
}

