@import "../../../../assets/styles/variables";

:host /deep/ {
    display: block;

    .round-slider-container {
        position: relative;
        margin: 0px auto;
    }

    .container {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
    }

    .round-slider-image {
        background-size: cover;
        border-radius: 50%;
        position: absolute;
    }

    .round-slider-text {
        text-align: center;
        position: absolute;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        top: 41%;
        pointer-events: none;
        z-index: 10;
        color: white;
        font-size: 18px;
    }

    .border-radius {
        fill: transparent;
        stroke: $color-orange;
    }

    .circumference {
        &.transparent {
            fill: transparent;
        }
        fill: $color-yellow-light-2;
    }

    .line {
        stroke-width: 3px;
        stroke: #f6ae2d;
    }

    .dot circle:hover {
        cursor: pointer;
    }
    .stop-left { stop-color: $color-orange-light; }

    .stop-right { stop-color: $color-orange-darken; }

    .dot circle {
        fill: $color-blue-2;
    }

    .arc { fill: url(#mainGradient); }
}
