<div class="profile-wrapper">
  <div class="profile-block profile-block--small">
    <div class="profile-block__image" [ngStyle]="{'background-image': 'url(' + user.img + ')'}"></div>
    <div class="profile-block__text profile-block__text--ta-inline">
      <div class="profile-block__text profile-block__text--ta-name">{{user.name}}</div>
      <div class="profile-block__text profile-block__text--ta-surname">{{user.surname}}</div>
    </div>
  </div>
  <div class="profile-block">
    <div class="profile-block__text profile-block__text--font-medium">Ваш уровень:</div>
    <div class="level">
      <div class="level__text level__text--left">Początkujący</div>
      <div class="level__progress-container">
        <div class="level__progress-maximum"></div>
        <div class="level__progress" [ngStyle]="{'width': user.level + '%'}"></div>
      </div>
      <div class="level__text level__text--right">EKSPERCI</div>
    </div>

    <div class="profile-block__text profile-block__text--font-medium">Пройдено комнат:</div>
    <div class="rooms-passed">
      <i class="fa fa-key rooms-passed__image"></i>
      <i class="fa fa-key rooms-passed__image"></i>
      <i class="fa fa-key rooms-passed__image"></i>
    </div>
  </div>
</div>
