<div class="profile-wrapper">
  <div class="profile-block profile-block--small">
    <img class="profile-block__image" src="../../../../assets/images/Hat.svg">
    <div class="profile-block__text profile-block__text--ta-center">Name s</div>
  </div>
  <div class="profile-block">
    <div class="profile-block__text profile-block__text--font-medium">Ваш уровень:</div>
    <div class="level">
      <div class="level__text level__text--left">Początkujący</div>
      <hr class="level__line level__line--yellow">
      <hr class="level__line level__line--grey">
      <div class="level__text level__text--right">EKSPERCI</div>
    </div>

    <div class="profile-block__text profile-block__text--font-medium">Пройдено комнат:</div>
    <div class="rooms-passed">
      <img src="" alt="" class="rooms-passed__image">
    </div>
  </div>
</div>
