<div class="profile">
  <div class="profile__wrapper wrap">
    <div class="profile-block profile-block--small">
      <div class="profile-block__image"
           [ngStyle]="{'background-image': 'url(' + (user$ | async)?.photoURL  + ')'}"></div>
      <div class="profile-block__text profile-block__text--ta-inline">
        <div class="profile-block__text profile-block__text--ta-name">{{(user$ | async)?.displayName}}</div>
      </div>
    </div>
    <div class="profile-block">
      <div class="profile-block__text profile-block__text--font-medium">{{ 'Passed rooms' | translateS | async }}:</div>
      <div class="rooms-passed" *ngIf="userHistories && userHistories.length">
        <div class="rooms-passed__image" *ngFor="let passedRooms of userHistories"></div>
      </div>
      <div class="rooms-passed no-passed" *ngIf="!userHistories.length">
        <p>{{ 'There are no passed rooms' | translateS | async }}</p>
      </div>
    </div>
  </div>
</div>
