@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/bootstrap-dropdown";

:host /deep/ {
  display: block;
  height: auto;
  min-height: 100%;
  transition: transform .3s ease-in-out;
  background-color: #222d32;
  .aside-menu {
    min-height: 100%;
    width: 230px;
    &__section {
      padding-bottom: 10px;
    }
    &__list {
      @include text-mixin(#4b646f, 12px, $font-source-sans-pro-regular);
      font-size: 14px;
      li {
        position: relative;
        &:hover {
          background: #1e282c;
          & > a {
            color: #fff;
          }
        }
      }
      &-header {
        line-height: 17px;
        @include text-mixin(#4b646f, 12px, $font-source-sans-pro-regular);
        background-color: #1a2226;
        padding: 10px 25px 10px 15px;
      }
      .treeview {
        border-left: 3px solid transparent;
        a {
          line-height: 20px;
          cursor: pointer;
          color: #b8c7ce;
          padding: 12px 5px 12px 15px;
          display: block;
          &:after {
            display: none;
          }
        }
        i {
          width: 20px;
        }
        .pull-right-container {
          transition: .3s ease-in;
          position: absolute;
          right: 10px;
          i {
            padding: 0;
            width: auto;
            height: auto;
            padding: 0;
            margin-right: 10px;
            transition: transform .5s ease;
          }
        }
        &-menu {
          display: none !important;
          height: 0 !important;
          float: none;
          z-index: 100;
          padding: 0;
          background: #2c3b41;
          position: initial;
          width: 100%;
          border: none;
          -webkit-transition: height 3.5s;
          li {
            a {
              line-height: 20px;
              font-size: 14px;
              padding: 5px 5px 5px 20px;
            }
          }
          li:hover {
            background: #2c3b41;
            & > a {
              color: #fff;
            }
          }
        }
      }
      .treeview.show {
        -webkit-transition: all 1s;
        .treeview-menu {
          display: none;
          height: auto;
          -webkit-transition: height 3.5s;
        }
      }
      .treeview.show-dropdown {
        -webkit-transition: all 1s !important;
        .treeview-menu {
          height: auto !important;
          -webkit-transition: height 3.5s !important;
        }
      }
      .treeview-active {
        .treeview-submenu {
          .treeview-menu {
            display: none !important;
          }
        }
      }
      .treeview-submenu {
        .treeview-menu {
          display: none !important;
          padding: 0 0 0 13px;
          position: initial;
          margin: 0 !important;
          li {
            a {
              &:hover {
                color: #fff;
              }
            }
          }
        }
        .pull-right-submenu-container {
          transform: rotate(0deg);
          i {
            left: 0;
            bottom: 0;
          }
        }
      }
      .treeview-submenu-show.treeview-submenu.dropdown {
        .treeview-menu {
          display: block !important;
        }
        .pull-right-submenu-container {
          transform: rotate(-90deg) !important;
          i {
            position: relative;
            left: 4px;
            bottom: 6px;
          }
        }
      }
      .treeview-submenu.show {
        .treeview-menu {
          display: none !important;
        }
      }
    }
  }
  #active-menu-item {
    color: #fff !important;
  }
  #active-submenu-item {
    & > a {
      color: #fff !important;
    }
  }
  .treeview-active {
    background: #1e282c !important;
    & > .dropdown-toggle {
      border-left: 4px solid #f88e00;
      color: #fff;
    }
    .treeview-menu {
      display: block !important;
      height: auto !important;
    }
    .treeview-submenu {
      .treeview-menu {
        display: block !important;
      }
    }
  }
  .treeview-show {
    & > .dropdown-toggle {
      color: #fff !important;
    }
    .treeview-menu {
      display: block !important;
      height: auto !important;
    }
    .pull-right-container {
      transform: rotate(-90deg);
      i {
        position: relative;
        left: 4px;
        bottom: 6px;
      }
    }
    .treeview-submenu-show {
      .treeview-menu {
        display: block !important;
      }
    }
  }
}
