<aside class="aside-menu">
  <div class="container"></div>
  <section class="aside-menu__section">
    <ul class="aside-menu__list">
      <li class="aside-menu__list-header">MENU</li>
      <li class="treeview dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-building-o"></i>
          <span>Company Data</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left"></i>
          </span>
        </a>
        <ul class="treeview-menu dropdown-menu">
          <li>
            <a [routerLink]="'/admin/dashboard/company-data/'">
              <i class="fa fa-circle-o"></i>
              Company Data
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-home"></i>
          <span>Rooms</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left"></i>
          </span>
        </a>
        <ul class="treeview-menu dropdown-menu">
          <li>
            <a [routerLink]="'/admin/dashboard/rooms/'">
              <i class="fa fa-circle-o"></i>
              My Rooms
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-edit"></i>
          <span>Reviews</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left"></i>
          </span>
        </a>
        <ul class="treeview-menu dropdown-menu">
          <li>
            <a>
              <i class="fa fa-circle-o"></i>
              Reviews
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-book"></i>
          <span>Bookings</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left"></i>
          </span>
        </a>
        <ul class="treeview-menu dropdown-menu">
          <li>
            <a>
              <i class="fa fa-circle-o"></i>
              Bookings
            </a>
          </li>
          <li class="treeview dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-circle-o"></i>
              <span>Prices and settings</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left"></i>
              </span>
            </a>
            <ul class="treeview-menu dropdown-menu">
              <li>
                <a>
                  <i class="fa fa-circle-o"></i>
                  Quest-R
                </a>
              </li>
            </ul>
          </li>

          <li class="treeview dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-circle-o"></i>
              <span>Days Settings</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left"></i>
              </span>
            </a>
            <ul class="treeview-menu dropdown-menu">
              <li>
                <a>
                  <i class="fa fa-circle-o"></i>
                  Schron bankowy
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-circle-o"></i>
                  Fantazja
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-circle-o"></i>
                  Midnight Killer MK II
                </a>
              </li>
            </ul>
          </li>

          <li class="treeview dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-circle-o"></i>
              <span>Calendar</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left"></i>
              </span>
            </a>
            <ul class="treeview-menu dropdown-menu">
              <li>
                <a>
                  <i class="fa fa-circle-o"></i>
                  Schron bankowy
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-circle-o"></i>
                  Fantazja
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-circle-o"></i>
                  Midnight Killer MK II
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href>
              <i class="fa fa-circle-o"></i>
              Prices and settings
            </a>
          </li>
        </ul>
      </li>


      <li class="treeview dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-cogs"></i>
          <span>Configuration</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left"></i>
          </span>
        </a>
        <ul class="treeview-menu dropdown-menu">
          <li>
            <a>
              <i class="fa fa-circle-o"></i>
              Configuration
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-circle-o"></i>
              Change password
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-address-card-o"></i>
          <span>Terms of service and contact</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left"></i>
          </span>
        </a>
        <ul class="treeview-menu dropdown-menu">
          <li>
            <a>
              <i class="fa fa-circle-o"></i>
              Terms of service
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-circle-o"></i>
              Contact
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
