@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/_mixins";

:host /deep/ {
  padding-top: 70px;
  display: block;
  position: relative;
  .swiper-container { padding-bottom: 60px; }
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: $color-white;
      &-active {
        background-color: $color-yellow;
        box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.5);
      }
    }
  }
  .swiper-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 84px;
    &-pagination {
      width: 25%;
      height: 370px;
      z-index: 100;
      background: transparent;
    }
  }
  .swiper-wrapper .swiper-slide {
    cursor: pointer;
    height: 430px;
    position: relative;
    &-active {
      width: 54% !important;
      z-index: 10;
      left: -2%;
    }
    &-prev, &-next {
      top: 84px;
      width: 25% !important;
      height: 370px !important;

      .swiper-room__btn { display: none; }
      .swiper-room__title {
        font-size: 24px;
      }
    }
    &-next {
      left: -4%;
      .swiper-room__title { padding-left: 10%; }
    }
    &-prev {
      .swiper-room__title { padding-right: 10%; }
    }
  }

  .swiper-room {
    &__slide {
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    &__darkened {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &__title {
      @include text-mixin($color-white, 36px, $font-gotham-pro-bold);
      text-align: center;
      padding-top: 70px;
    }

    &__btn {
      position: absolute;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.22);
      padding: 10px 0;
      width: 195px;
      max-height: 40px;
      bottom: 40px;
    }
  }

  @media #{$tablet-x2} {
    .swiper-wrapper {
      .swiper-slide {
        &-active {
          height: 370px;
          .swiper-room__title {
            font-size: 30px;
          }
        }
        &-prev, &-next {
          height: 310px !important;
          .swiper-room__title {
            font-size: 22px;
          }
        }
      }
    }
    .swiper-pagination {
      bottom: 70px;
    }
  }
}
@media #{$tablet-x1} {
  :host /deep/ {
    .swiper-wrapper {
      .swiper-slide {
        height: 270px !important;
        .swiper-room__title {
          font-size: 18px;
        }
      }
      .swiper-slide-active {
        height: 320px !important;
        .swiper-room__title {
          font-size: 26px;
        }
        .swiper-room__btn {
          width: 150px;
          font-size: 12px;
          padding: 8.5px 0;
        }
      }
    }
    .swiper-pagination {
      bottom: 0;
    }
  }
}
