@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/_mixins';
@import '../../../../../assets/styles/filter-hint';

:host /deep/ {
  .filter-rooms {
    &__list {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
      justify-content: space-around;
    }

    &__item {
      display: flex;
      @include text-mixin($color-white, 20px, $font-gotham-pro-bold);
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
    }
  }
  .filter-hint.filter-hint-players {
    left: 87px;
    bottom: -12px;
    i {
      top: 12px;
    }
  }
  .filter-hint.filter-hint-genre {
    left: 84px;
  }
  .filter-hint.filter-hint-price {
    left: 57px;
    bottom: -12px;
    i {
      top: 12px;
    }
  }
  .filter-hint.filter-hint-marking {
    left: 170px;
    bottom: -12px;
    li {
      &:not(:last-child) {
        display: none;
      }
    }
  }
  .filter-hint.filter-hint-complexity {
    left: 160px;
    bottom: -12px;
    li {
      &:not(:last-child) {
        display: none;
      }
    }
  }
  @media #{$tablet-x2} {
    .filter-rooms {
      &__list {
        max-width: 756px;
      }
      &__item {
        display: block;
        span {
          font-size: 18px;
        }
      }
    }
  }
  .filter-hint.filter-hint-genre {
    left: 60px;
    bottom: 0;
  }
  .filter-hint.filter-hint-genre,
  .filter-hint.filter-hint-complexity,
  .filter-hint.filter-hint-genre
  {
    left: 0;
    bottom: auto;
  }
}
