@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/_mixins';
@import '../../../../../assets/styles/filter-hint';

:host /deep/ {
  .filter-rooms {
    &__list {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
      justify-content: space-around;
    }

    &__item {
      display: flex;
      @include text-mixin($color-white, 20px, $font-gotham-pro-bold);
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
    }
  }
  @media #{$tablet-x2} {
    .filter-rooms {
      &__list {
        max-width: 756px;
      }
      &__item {
        display: block;
        span {
          font-size: 18px;
        }
      }
    }
  }
}

@media #{$tablet-x1} {
  :host /deep/ {
    .filter-rooms {
      &__list {
        max-width: 529px;
      }
      &__item {
        span {
          font-size: 15px;
        }
      }
      &__item-complexity,
      &__item-marking {
        position: relative;
        top: 4px;
      }
    }
  }
}

@media #{$mobile} {
 :host /deep/ {
   .filter-rooms {
     &__list {
       display: block;
     }
     &__item {
       padding: 16px 0;
       font-size: 18px;
       display: block;
       &-wrap {
         display: flex;
         justify-content: center;
       }
       &-arrow {
         position: relative;
         top: 6px;
         width: 20px;
         height: 8px;
         display: block;
         padding-left: 25px;
         background-image: url("../../../../../assets/images/triangle.svg");
         background-repeat: no-repeat;
         background-position: center;
         transform: scaleY(-1);
         transition: transform 0.5s;

         &--active {
           transform: rotate(0deg);
         }
       }
     }
     &__item-complexity,
     &__item-marking {
        font-size: 18px;
       .filter-rooms__item-wrap {
         display: flex;
         justify-content: center;
       }
     }
   }
 }
}
