@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/filter-hint';

:host /deep/ {
  .filter-rooms {
    &__list {
      display: flex;
      max-width: 960px;
      margin: 0 auto;
      justify-content: space-between;
    }

    &__item {
      @include text-mixin($color-white, 20px, $font-gotham-pro-bold);
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
    }
  }
  .filter-hint.filter-hint-players {
    bottom: 30px;
    left: 18px;
    ul {
      min-width: 50px;
    }
  }
  .filter-hint.filter-hint-genre {
    bottom: 30px;
    right: -35px;
    ul {
      min-width: 150px;
    }
  }
  .filter-hint.filter-hint-price {
    bottom: 30px;
    left: 4px;
    ul {
      min-width: 50px;
    }
  }
}
