<ul class="filter-rooms__list">
    <li class="filter-rooms__item">
        <app-layout-select-dropdown
            placeholder="ZŁOŻONOŚĆ"
            [listOptions]="complexity"
        ></app-layout-select-dropdown>
    </li>
    <li class="filter-rooms__item" (click)="displayPlayersCircle()">
        GRACZE
    </li>
    <li class="filter-rooms__item" (click)="displayGenreCircle()">
        GANRE
    </li>
    <li class="filter-rooms__item" (click)="displayPriceCircle()">
        CENA
    </li>
    <li class="filter-rooms__item">
        <app-layout-select-dropdown
            placeholder="OZNACZENIA"
            [listOptions]="marking"
        ></app-layout-select-dropdown>
    </li>
</ul>
<app-main-filter-circle [displayPlayersCircle]="isDisplayPlayersCircle"
                        [displayGenreCircle]="isDisplayGenreCircle"
                        [displayPriceCircle]="isDisplayPriceCircle"
></app-main-filter-circle>
