<div class="admin-rooms">
  <h1 class="admin-rooms__title">My Rooms</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="admin-rooms__content">
        <p class="admin-rooms__content-title">My rooms</p>
        <div class="admin-rooms__data">
          <table class="admin-rooms__data-table">
            <thead class="admin-rooms__data-table-head">
            <tr>
              <th>Room name</th>
              <th>Active?</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody class="admin-rooms__data-table-body">
            <td>
              <p>1</p>
            </td>
            <td>
              <p>1</p>
            </td>
            <td>
              <a>
                <i class="fa fa-edit"></i>
                Edit
              </a>
            </td>
            </tbody>
          </table>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn">Save</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="admin-rooms__content">
        <p class="admin-rooms__content-title">Add new room</p>
        <div class="admin-rooms__data">
          <label class="admin-label" for="new-room-name">Room name</label>
          <input id="new-room-name" class="admin-input">
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
