<div class="admin" [class.main-loader]="isShowLoader">
  <h1 class="admin__title">My Rooms</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="admin__content">
        <p class="admin__content-title">My rooms</p>
        <div class="admin__data">
          <table class="admin__data-table">
            <thead class="admin__data-table-head">
            <tr>
              <th>Room name</th>
              <th>Active?</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody class="admin__data-table-body">
            <tr *ngFor="let room of rooms">
              <td>
                <p>{{ room?.name?.def }}</p>
              </td>
              <td>
                <p [ngStyle]="{'color': room.active ? '#1AB360' : '#c21313'}">
                  {{ room?.active | isActive: room?.active }}
                </p>
              </td>
              <td>
                <a [routerLink]="'/admin/dashboard/rooms/' + room.id + '/edit'">
                  <i class="fa fa-edit"></i>
                  Edit
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="admin__content">
        <p class="admin__content-title">Add new room</p>
        <div class="admin__data">
          <label class="admin-label" for="new-room-name">Room name</label>
          <input id="new-room-name" class="admin-input" [(ngModel)]="newRoom.name.def" #roomName>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn" (click)="addNewRoom(roomName.value)">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isShowNotificationPopup" id="notification-popup" style="width: 100%; height: 100%;">
    <div class="popup">
      <i class="popup-close fa fa-close" (click)="closePopup()"></i>
      <div class="popup-content">
        <p [ngStyle]="{'color': !areErrors | popupColor: !areErrors }">{{ notificationPopupMessage }}</p>
      </div>
      <div class="popup-footer" [ngStyle]="{'background-color': !areErrors | popupColor: !areErrors }"></div>
    </div>
  </div>
</div>
