@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/admin-templates";

:host /deep/ {
  flex-grow: 1;
  .admin-rooms {
    padding: 15px;
    &__title {
      line-height: 1.1;
      font-weight: 400;
      @include text-mixin(#333, 24px, $font-source-sans-pro-regular);
    }
    &__content {
      margin: 20px 0;
      border-radius: 3px;
      background: #fff;
      border-top: 3px solid #d2d6de;
      width: 100%;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      @include text-mixin(#333, 14px, $font-source-sans-pro-regular);
      line-height: 1.42857143;
      &-title {
        line-height: 1;
        font-size: 18px;
        padding: 10px;
      }
    }
    &__data {
      padding: 10px;
      &-table {
        font-weight: 400;
        width: 100%;
        border: 1px solid #f4f4f4;
        margin: 6px 0;
        border-collapse: separate;
        &-head {

        }
        th, td {
          border: 1px solid #f4f4f4;
          padding: 8px;
          line-height: 1.43;
          vertical-align: middle;
          a {
            cursor: pointer;
            color: #3c8dbc;
            &:hover {
              color: #72afd2;
            }
          }
        }
        th {
          font-weight: 700;
        }
      }
    }
  }
}
