@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/modules";
@import "../../../../assets/styles/_mixins";


:host /deep/ {
  .reserved-select {
    width: 309px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid $color-white;
    background-color: transparent;
    @include text-mixin($color-white, 16px, $font-gotham-pro-medium);
    line-height: 1.31px;
    &::-webkit-input-placeholder {
      color: #6c6c6c;
    }
    option {
      color: #000;
      height: 25px;
    }
  }
}

@media #{$tablet-x2} {
  :host /deep/ {
    .reserved-select {
      width: 250px;
      height: 40px;
      font-size: 14px;
    }
    .mobile-calendar__label {
      font-size: 14px;
    }
  }
}

@media #{$mobile} {
  :host /deep/ {
    .reserved-select {
      width: 250px;
      height: 40px;
      font-size: 14px;
    }
    .mobile-calendar__label {
      font-size: 14px;
    }
  }
}

