<div class="admin" [class.main-loader]="isShowLoader">
  <h1 class="admin__title">Prices and settings</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="admin__content">
        <p class="admin__content-title">Types</p>
        <div class="admin__data table-responsive box-body">
          <table class="admin__data-table">
            <thead class="admin__data-table-head">
            <tr>
              <th>ID</th>
              <th>Type name</th>
              <th>Prices</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody class="admin__data-table-body">
            <tr *ngFor="let priceType of pricesTypes">
              <td class="text-center admin__data-table-body-new">{{ priceType?.id }}</td>
              <td class="text-center admin__data-table-body-new">
                <input class="admin-input" name="new-type-name" [(ngModel)]="priceType.name"/>
              </td>
              <td class="text-center admin__data-table-body-new">
                <table class="admin__data-table admin__data-table-price">
                  <tr *ngIf="priceType.prices">
                    <th>Count of players:</th>
                    <td *ngFor="let priceCPlayersDep of priceType.prices;">
                      <input type="number"
                             min="1"
                             max="{{ maxCountOfPlayers }}"
                             name="count-of-players"
                             value="{{ priceCPlayersDep?.countPlayers }}"
                             disabled
                      />
                    </td>
                  </tr>
                  <tr *ngIf="priceType.prices">
                    <th>Price:</th>
                    <td *ngFor="let priceCPlayersDep of priceType.prices; let i = index;">
                      <input type="number"
                             min="0"
                             step="0.01"
                             name="price-{{ i }}"
                             value="{{ priceCPlayersDep?.price }}"
                             disabled
                      />
                    </td>
                  </tr>
                </table>
              </td>
              <td class="text-center admin__data-table-body-delete">
                <i class="fa fa-close"
                   (click)="deleteType(priceType.id)"
                ></i></td>
            </tr>

            <tr>
              <td class="text-center admin__data-table-body-new">NEW</td>
              <td class="text-center admin__data-table-body-new">
                <input class="admin-input" name="new-type-name" [(ngModel)]="newPriceType.name"/>
              </td>
              <td class="text-center admin__data-table-body-new">
                <table class="admin__data-table admin__data-table-price">
                  <tr *ngIf="newPriceType.prices">
                    <th>Count of players:</th>
                    <td *ngFor="let i of countItems;">
                      <input type="number"
                             min="1"
                             max="{{ maxCountOfPlayers }}"
                             name="count-of-players"
                             value="{{ i + 1 }}"
                             disabled
                      />
                    </td>
                  </tr>
                  <tr *ngIf="newPriceType.prices">
                    <th>Price:</th>
                    <td *ngFor="let i of countItems;">
                      <input type="number"
                             min="0"
                             step="0.01"
                             id="price-{{ i }}"
                             name="price-{{ i }}"
                             [(ngModel)]="newPriceType.prices[i].price"
                             required
                      />
                    </td>
                  </tr>
                </table>
              </td>
              <td class="text-center admin__data-table-body-new">XXX</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn" (click)="addNewType()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-notification-popup [isShowNotificationPopup]="isShowNotificationPopup"
                        [notificationPopupMessage]="notificationPopupMessage"
                        [areErrors]="areErrors"
                        [isShowConfirmButton]="deletedTypeId"
                        (onConfirmEvent)="confirmDeleteType(deletedTypeId)"
                        (onClosePopup)="closePopup()">
</app-notification-popup>
