<div class="admin" [class.main-loader]="isShowLoader">
  <h1 class="admin__title">Configuration</h1>
  <div class="row conf-row">
    <div class="col-md-6">
      <div class="admin__content admin-conf__content">
        <p class="admin__content-title">General</p>
        <div class="admin__data admin-conf__content-data">
          <div class="admin__data-item admin-conf__content-data-item">
            <label for="main-description" class="conf-label admin-label">Main description</label>
            <app-tabset id="main-description" [useTabsetWithTextarea]="useTabsetWithTextarea"
                        (onTabsetChanged)="onTabsetChanged($event)"
                        [tabsetModel]="description"
            ></app-tabset>
          </div>
          <div class="admin__data-item admin-conf__content-data-item">
            <label for="configuration-max-players" class="conf-label admin-label">Maximum count of players</label>
            <input class="admin-input"
                   id="configuration-max-players"
                   name="company-name"
                   value="{{ maxCountOfPlayers }}"
                   [(ngModel)]="maxCountOfPlayers"
            />
          </div>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn" (click)="saveGeneral()">Save</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="admin__content admin-conf__content">
        <p class="admin__content-title">Receiving messages</p>
        <div class="admin__data admin-conf__content-data">
          <div class="admin__data-item admin-conf__content-data-item">
            <label for="configuration-max-players" class="admin-label">E-mail addresses (one per line)</label>
            <textarea class="admin-textarea admin-conf__content-data-item-textarea"
                      [(ngModel)]="receivingMessagesConf.emailAddresses"
                      id="email-conf"
                      name="company-name"
            ></textarea>
          </div>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn" (click)="saveReceivingMessages()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row conf-row">
    <div class="col-md-6">
      <div class="admin__content admin-conf__content">
        <p class="admin__content-title">Current Locale</p>
        <div class="admin__data admin-conf__content-data">
          <div class="admin__data-item admin-conf__content-data-item">
            <label for="current-locale" class="conf-label admin-label">Locale</label>
            <select [(ngModel)]="currentLocale" class="admin__data-item-select admin-input " id="current-locale">
              <option value="en" [selected]="this.value === currentLocale">English</option>
              <option value="pl" [selected]="this.value === currentLocale">Polski</option>
            </select>
          </div>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn" (click)="saveLocale()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-notification-popup [isShowNotificationPopup]="isShowNotificationPopup"
                        [notificationPopupMessage]="notificationPopupMessage"
                        [areErrors]="areErrors"
                        (onClosePopup)="closePopup()">
</app-notification-popup>
