<div class="admin">
  <h1 class="admin__title">Configuration</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="admin__content">
        <p class="admin__content-title">General</p>
        <div class="admin__data">
          <div class="admin__data-item">
            <label for="configuration-max-players" class="admin-label">Maximum count of players</label>
            <input class="admin-input"
                   id="configuration-max-players"
                   name="company-name"
                   value="{{ maxCountOfPlayers }}"
                   [(ngModel)]="maxCountOfPlayers"
            />
          </div>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
