@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/_mixins";


:host /deep/ {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  padding-top: 90px;
  .org-rule {
    &__title {
      margin-bottom: 65px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      line-height: 21px;
      position: relative;
      &--key {
        width: 40%;
        &::before {
          position: absolute;
          top: -63px;
          left: -1px;
          content: '';
          background-image: url("../../../../assets/images/key.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 50px;
          display: block;
          height: 118px;
          transform: rotate(252deg);
        }
      }

      &--lock {
        max-width: 364px;
        width: 40%;
        &::before {
          position: absolute;
          top: -50px;
          left: -77px;
          content: '';
          background-image: url("../../../../assets/images/lock.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 94px;
          display: block;
          height: 115px;
        }
        &::after {
          position: absolute;
          top: 85px;
          left: 10px;
          transform: rotate(23deg);
          content: '';
          background-image: url("../../../../assets/images/org-rule-arrow-2.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 108px;
          display: block;
          height: 144px;
        }
      }

      &--bag {
        flex-grow: 1;
        p {
          position: relative;
          width: 32.5%;
          margin: 0 auto;
          padding-right: 70px;
          &::before {
            position: absolute;
            top: -75px;
            left: -62px;
            content: '';
            display: block;
            background-image: url("../../../../assets/images/bag.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 125px;
            height: 95px;
          }
          &::after {
            position: absolute;
            top: 145px;
            left: 160px;
            content: '';
            display: block;
            background-image: url("../../../../assets/images/org-rule-arrow-3.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 74px;
            height: 89px;
            transform: rotate(330deg);
          }
        }
      }

      &--key-2 {
        width: 40%;
        padding-top: 75px;
        &::before {
          position: absolute;
          top: 16px;
          left: -18px;
          display: block;
          content: '';
          background-image: url("../../../../assets/images/key-2.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 63px;
          height: 91px;
        }
        &::after {
          position: absolute;
          top: 62px;
          left: auto;
          right: -206px;
          display: block;
          content: '';
          background-image: url("../../../../assets/images/org-rule-arrow-4.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 180px;
          height: 96px;
        }
      }

      &--binoculars {
        width: 35%;
        margin-left: auto;
        &::before {
          position: absolute;
          top: -15px;
          left: -97px;
          display: block;
          content: '';
          background-image: url("../../../../assets/images/binoculars.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 130px;
          height: 60px;
        }
      }
    }

    &__arrow {
      width: 20%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &__arrow-first {
      position: relative;
      bottom: 60px;
      right: -2px;
      transform: rotate(-42deg);
      background-image: url("/assets/images/org-rule-arrow-3.png");
      height: 89px;
    }
  }
}

@media #{$tablet-x2} {
  :host /deep/ {
    padding-top: 85px;
    .org-rule {
      &__title {
        margin-bottom: 55px;
      }
      &__item {
        line-height: 1.25;
        font-size: 14px;
        &--key {
          left: 10px;
          &::before {
            top: -62px;
            left: 12px;
          }
        }

        &--lock {
          max-width: 364px;
          width: 40%;
          right: 10px;
          &::before {
            top: -43px;
            left: -50px;
            width: 74px;
            height: 104px;
          }
          &::after {
            top: 85px;
            left: 10px;
            width: 108px;
            height: 144px;
          }
        }

        &--bag {
          p {
            padding-right: 70px;
            &::before {
              top: -58px;
              left: -62px;
              width: 100px;
            }
            &::after {
              top: 110px;
              left: 145px;
            }
          }
        }

        &--key-2 {
          left: 10px;
          width: 40%;
          padding-top: 75px;
          &::before {
            top: 21px;
            left: -4px;
            width: 60px;
            height: 80px;
          }
          &::after {
            top: 62px;
            left: auto;
            right: -183px;
            width: 180px;
            height: 96px;
          }
        }

        &--binoculars {
          width: 35%;
          padding-top: 10px;
          margin-left: auto;
          right: 10px;
          &::before {
            top: -49px;
            left: -42px;
            display: block;
            width: 110px;
            height: 50px;
          }
        }
      }
      &__arrow-first {
        bottom: 24px;
        right: -18px;
      }
    }
  }
}

@media #{$tablet-x1} {
  :host /deep/ {
    padding-top: 85px;
    .org-rule {
      &__title {
        margin-bottom: 55px;
        line-height: 1.2;
        font-size: 18px;
        padding: 0 20px;
      }
      &__item {
        line-height: 1.2;
        font-size: 12px;
        &--lock {
          &::after {
            top: 140px;
            left: 10px;
          }
        }

        &--bag {
          top: 12px;
          p {
            width: 50%;
            padding-right: 70px;
            &::before {
              top: -58px;
              left: -62px;
              width: 100px;
            }
            &::after {
              top: 78px;
              left: 111px;
            }
          }
        }

        &--key-2 {
          &::after {
            top: 78px;
            left: auto;
            right: -168px;
          }
        }

        &--binoculars {
          top: 20px;
          width: 35%;
          padding-top: 10px;
          margin-left: auto;
          right: 10px;
          &::before {
            top: -47px;
            left: -5px;
            display: block;
            width: 110px;
            height: 50px;
          }
        }
      }
      &__arrow-first {
        bottom: -21px;
        right: -10px;
      }
    }
  }
}

@media #{$mobile} {
  :host /deep/ {
    padding-top: 69px;
    .org-rule {
      &__title {
        margin-bottom: 72px;
        line-height: 1.2;
        font-size: 18px;
        text-align: left;
        padding: 0 36px;
      }
      &__wrapper {
        display: block;
        width: 80%;
        max-width: 320px;
        margin: 0 auto;
      }
      &__item {
        line-height: 1.5;
        font-size: 12px;
        &--lock {
          padding-top: 37px;
          width: 277px;
          &::before {
            width: 85px;
            left: 115px;
          }
          &::after {
            transform: rotate(0deg);
            top: 195px;
            left: 188px;
          }
        }

        &--key {
          padding: 0 27px;
          width: 277px;
          &::before {
            left: 20px;
          }
        }

        &--bag {
          top: 125px;
          p {
            width: 250px;
            margin: 0;
            padding-right: 0;
            top: 30px;
            &::before {
              width: 124px;
              top: -92px;
              left: -10px;
            }
            &::after {
              transform: rotate(5deg);
              top: 115px;
              width: 62px;
              left: -18px;
            }
          }
        }

        &--key-2 {
          width: 253px;
          padding-top: 265px !important;
          top: 230px;
          &::after {
            width: 160px;
            left: 100px;
            transform: rotate(-5deg);
            top: 152px;
          }
          &:before {
            top: 181px;
            left: -10px;
          }
        }

        &--binoculars {
          top: -83px;
          width: 223px;
          padding-top: 20px;
          margin-left: auto;
          right: 0;
          &::before {
            top: -47px;
            left: 32px;
            display: block;
            width: 131px;
            height: 61px;
          }
        }
      }
      &__arrow-first {
        left: 195px;
        bottom: -7px;
        transform: rotate(-36deg) scale(-1, 1);
      }
    }
  }
}

