<h3 class="title org-rule__title">ОГРАНИЗАЦИОННЫЕ ПРАВИЛА ИГРЫ В КВЕСТЫ</h3>
<div class="org-rule__wrapper">
    <div class="org-rule__item org-rule__item--key" *ngIf="orgRules[0]">
      {{ orgRules[0] }}
    </div>
    <div class="org-rule__arrow org-rule__arrow-first"></div>
    <div class="org-rule__item org-rule__item--lock" *ngIf="orgRules[1]">
      <p>
        {{ orgRules[1] }}
      </p>
    </div>
    <div class="org-rule__item org-rule__item--bag" *ngIf="orgRules[2]">
        <p>
          {{ orgRules[2] }}
        </p>
    </div>
    <div class="org-rule__item org-rule__item--key-2" *ngIf="orgRules[3]">
      {{ orgRules[3] }}
    </div>
    <div class="org-rule__item org-rule__item--binoculars" *ngIf="orgRules[4]">
      {{ orgRules[4] }}
    </div>
</div>
