@font-face {
  font-family: "GothamProRegular";
  src: url("./assets/fonts/GothamPro/GothamProRegular/GothamProRegular.eot");
  src: url("./assets/fonts/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("./assets/fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("./assets/fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("./assets/fonts/GothamPro/GothamProBold/GothamProBold.eot");
  src: url("./assets/fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url("./assets/fonts/GothamPro/GothamProBlack/GothamProBlack.eot");
  src: url("./assets/fonts/GothamPro/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProBlack/GothamProBlack.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProItalic";
  src: url("./assets/fonts/GothamPro/GothamProItalic/GothamProItalic.eot");
  src: url("./assets/fonts/GothamPro/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProItalic/GothamProItalic.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMedium";
  src: url("./assets/fonts/GothamPro/GothamProMedium/GothamProMedium.eot");
  src: url("./assets/fonts/GothamPro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight";
  src: url("./assets/fonts/GothamPro/GothamProLight/GothamProLight.eot");
  src: url("./assets/fonts/GothamPro/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProLight/GothamProLight.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("./assets/fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("./assets/fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLightItalic";
  src: url("./assets/fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("./assets/fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBoldItalic";
  src: url("./assets/fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("./assets/fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlackItalic";
  src: url("./assets/fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("./assets/fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
  url("./assets/fonts/GothamPro/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}