<div class="profile-menu-wrapper">
  <div class="profile-menu-wrapper__left-transition"></div>
  <ul class="profile-menu">
    <li routerLinkActive="active" class="profile-menu__menu-item"><a [routerLink]="'./history'">История</a></li>
    <li routerLinkActive="act ive" class="profile-menu__menu-item"><a [routerLink]="'./gallery'">Галерея</a></li>
    <li routerLinkActive="active" class="profile-menu__menu-item"><a [routerLink]="'./favorites'">Избранное</a></li>
    <li routerLinkActive="active" class="profile-menu__menu-item"><a [routerLink]="'./friends'">Мои друзья</a></li>
    <li routerLinkActive="active" class="profile-menu__menu-item"><a [routerLink]="'./reviews'">Отзывы</a></li>
  </ul>
  <div class="profile-menu-wrapper__right-transition"></div>
</div>
