<div class="profile-menu-wrapper">
  <div class="profile-menu-wrapper__left-transition"></div>
  <ul class="profile-menu">
    <li routerLinkActive="active" class="profile-menu__menu-item" *ngFor="let menuItem of profileMenuItems">
      <a [routerLink]="'./'+menuItem.url+''" (click)="checkActiveMenuItem()" [class.active-profile-menu-item]="menuItem.isActive">
        {{ menuItem.name | translateS | async }}</a>
    </li>
  </ul>
  <div class="profile-menu-wrapper__right-transition"></div>
</div>
