<div class="filter-circle__circle">
    <!-- Count players -->
    <app-layout-round-slider
        *ngIf="displayPlayersCircle"
        #roundSlider
        [width]="480"
        [height]="480"
        [radius]="205"
        [thick]="72"
        [(value)]="valuePlayers"
        [(valueFixed)]="valuePlayersOnFixedPos"
        [min]="minCountPlayers"
        [max]="maxCountPlayers"
        [step]="playerStep"
        [valueStep]="playerValueStep"
        class="filter-circle__slider"
    >
        <div class="filter-circle__small-circle">
            <div class="filter-circle__count-players">
                <h2 class="filter-circle__title">GRACZE</h2>
                <input
                    (input)="valuePlayers = $event.target.value;
                    valuePlayersOnFixedPos = $event.target.value"
                    type="number"
                    class="filter-circle__input"
                    #inputPlayers
                >
                <span class="filter-circle__description">osób</span>
            </div>
        </div>
    </app-layout-round-slider>
    <!-- End count players -->

  <!-- Price -->
  <app-layout-round-slider
    *ngIf="displayPriceCircle"
    #roundSlider
    [width]="480"
    [height]="480"
    [radius]="205"
    [thick]="72"
    [(value)]="valuePrice"
    [min]="minPrice"
    [max]="maxPrice"
    [step]="priceStep"
    [valueStep]="priceValueStep"
    class="filter-circle__slider"
  >
    <div class="filter-circle__small-circle">
      <div class="filter-circle__count-players">
        <h2 class="filter-circle__title">CENA</h2>
        <input
          (input)="valuePrice = $event.target.value"
          type="number"
          class="filter-circle__input"
          #inputPrice
        >
        <span class="filter-circle__description">złoty</span>
      </div>
    </div>
  </app-layout-round-slider>
  <!-- End price -->

    <!--Genre-->
    <app-layout-round-slider-gender
        *ngIf="displayGenreCircle"
        [width]="480"
        [height]="480"
        [radius]="205"
        [thick]="72"
        [genres]="genres"
        (selectedGender)="selectedGenre = $event"
    >
        <div class="filter-circle__small-circle filter-circle__small-circle--genre" *ngIf="!selectedGenre">
          <h2 class="filter-circle__title filter-circle__title--genre">GANRE</h2>
        </div>
        <div class="filter-circle__small-circle filter-circle__small-circle--genre" [ngStyle]="{'background-color': selectedGenre?.color}">
          <h2 class="filter-circle__title filter-circle__title--genre">{{ selectedGenre?.legend }}</h2>
        </div>
    </app-layout-round-slider-gender>
    <!--End genre-->
</div>
