@import "../../../../../../assets/styles/variables";

:host /deep/ {
    display: block;
    margin-top: 65px;
    margin-bottom: 110px;
    .filter-circle {

        &__circle {
            //margin: 0 auto;
            //width: 480px;
            //height: 480px;
            //border-radius: 50%;
            //background-color: $color-yellow-light-2;
            //display: flex;
            max-width: 960px;
            margin: 0 auto;
            position: relative;
        }

        &__small-circle {
            width: 336px;
            height: 336px;
            margin: auto;
            border-radius: 50%;
            background-color: #25282b;
            box-shadow: inset 0 5px 10px 4px rgba(0, 0, 0, 0.31);
            display: flex;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1000;
            &--genre {
                background-color: transparent;
            }
        }

        &__slider {
            margin: auto;
        }

        &__count-players {
            margin: auto;
            position: relative;
            z-index: 100;
        }

        &__title {
            @include text-mixin($color-white, 20px, $font-gotham-pro-bold);
            text-align: center;
            letter-spacing: 1.5px;
            margin-bottom: 36px;
            &--genre {
                margin: auto;
                color: $color-white;
                letter-spacing: normal;
            }
        }

        &__input {
            @include text-mixin($color-white, 71px, $font-gotham-pro-bold);
            color: $color-white;
            letter-spacing: 1px;
            width: 100px;
            height: 65px;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: solid 0.5px #676767;
            text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            text-align: center;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        }

        &__description {
            @include text-mixin($color-white, 20px, $font-gotham-pro-regular);
            text-align: center;
            display: block;
            width: 100%;
            margin-top: 20px;
        }
    }
}
