<app-layout-round-slider
  #roundSlider
  [width]="480"
  [height]="480"
  [radius]="205"
  [thick]="72"
  [(value)]="value"
  [(valueFixed)]="valueOnFixedPos"
  [min]="minPrice"
  [max]="maxPrice"
  [step]="step"
  [stepMarkValue]="stepMarkValue"
  class="filter-circle__slider"
>
  <div class="filter-circle__small-circle">
    <div class="filter-circle__count-players">
      <h2 class="filter-circle__title">CENA</h2>
      <input
        (input)="value = $event.target.value;
          valueOnFixedPos = $event.target.value"
        type="number"
        class="filter-circle__input filter-circle__input-price"
        #inputPrice
      >
      <span class="filter-circle__description">złoty</span>
    </div>
  </div>
</app-layout-round-slider>
