@import "../../../../assets/styles/variables";

.room-info-wrapper {
  max-width: 960px;
  margin: 40px auto 0;
}
.room-info {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: nowrap;
  &__image {
    width: 471px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__info {
    width: 455px;
    &-name {
      @include text-mixin($color-white, 24px, $font-gotham-pro-medium);
      line-height: 1.17;
      color: #fff;
    }
    &-description {
      @include text-mixin($color-white, 18px, $font-roboto-medium);
      line-height: 1.39;
      padding: 22px 0 28px;
    }
  }
  &__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    &-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: flex-start;
    }
    &-text {
      @include text-mixin($color-white, 16px, $font-roboto-medium);
      padding-left: 11px;
      top: 9px;
      position: relative;
    }
    &:first-child {
      .room-info__details-text {
        font-weight: 500;
      }
    }
  }
  &__details-additional {
    padding: 17px 0 0;
    .room-info__details-text {
      @include text-mixin($color-white, 18px, $font-roboto-medium);
      line-height: 1.56;
      top: 2px;
      padding-left: 19px;
    }
  }
  &__details-additional:first-child {
    display: none;
  }
}
