<div class="room-info-wrapper">
  <div class="room-info">
    <div class="room-info__image" style="background-image: url(http://loremflickr.com/500/500/dog)"></div>
    <div class="room-info__info">
      <h3 class="room-info__info-name">POKÓJ "SCHRON BANKOWY"</h3>
      <p class="room-info__info-description">
        Zawsze zastanawiałem się, jak to jest, aby włamać się do skarbca banku?
        Teraz starają się stamtąd wydostać, a ta produkcja.
      </p>
      <div class="room-info__details">
        <div class="room-info__details-item">
          <img class="room-info__details-icon" src="../../../../assets/images/clock.svg" alt="img details genre">
          <span class="room-info__details-text">60 minut</span>
        </div>
        <div class="room-info__details-item">
          <img class="room-info__details-icon" src="../../../../assets/images/clock.svg" alt="img details clock">
          <span class="room-info__details-text">Średni</span>
        </div>
        <div class="room-info__details-item">
          <img class="room-info__details-icon" src="../../../../assets/images/person.svg" alt="img details person">
          <span class="room-info__details-text">2-5 osób</span>
        </div>
      </div>
      <div class="room-info__details-item room-info__details-additional">
        <img class="room-info__details-icon" src="../../../../assets/images/person.svg" alt="img details person">
        <span class="room-info__details-text">Możliwość gry po angielsku</span>
      </div>
      <div class="room-info__details-item room-info__details-additional">
        <img class="room-info__details-icon" src="../../../../assets/images/person.svg" alt="img details person">
        <span class="room-info__details-text">Pokój nieodpowiedni dla osób z epilepsją</span>
      </div>
    </div>
  </div>
</div>
