<swiper [config]="sliderConfig">
  <div class="swiper-slide">
    <div class="gallery-wrapper">
      <div class="gallery" *ngFor="let gallery of galleryData">
        <div class="gallery__top">
          <p class="gallery__room-name">{{ gallery.roomName }}</p>
          <p class="gallery__date">{{ gallery.date }}</p>
          <button class="gallery__add-photo">Добавить фото</button>
        </div>
        <div class="gallery__bottom">
              <div class="gallery__image" *ngFor="let photo of gallery.photo" [ngStyle]="{'background-image': 'url(' + photo.path + ')'}"></div>
        </div>
      </div>
    </div>
  </div>
</swiper>

