<div class="gallery-wrapper">
  <div class="gallery" *ngFor="let gallery of historyData">
    <div class="gallery__top">
      <p class="gallery__room-name">{{ gallery.roomId | roomName | async }}</p>
      <p class="gallery__date">{{ gallery.bookingDate | date: "dd.MM.yyyy" }}</p>
      <label class="gallery__add-photo" (click)="addPhotos(gallery.id)">{{ 'Add photo' | translateS | async }}
        <app-upload-image id="swiper-wrapper-user-gallery"
                          (onImagesUploaded)="onImagesUploaded($event)"
                          [isMultiple]="true"
                          [withStyling]="true">
        </app-upload-image>
      </label>
    </div>
    <div class="gallery__bottom">
      <div *ngIf="gallery.photos">
        <swiper [config]="sliderConfig" class="gallery-swiper" #swiperClass>
            <div class="swiper-wrapper gallery__bottom-swiper">
              <div class="swiper-slide gallery__bottom-swiper--slide" *ngFor="let photo of gallery.photos; let i = index;">
                <div class="gallery__image" *ngIf="photo.path" id="slide-{{i}}"
                     [ngStyle]="{'background-image': 'url(' + photo?.path + ')'}"></div>
              </div>
            </div>
          <div class="swiper-button-prev gallery-swiper-button-prev" (click)="checkLastSlide(false)"></div>
          <div class="swiper-button-next gallery-swiper-button-next" (click)="checkLastSlide(true)"></div>
        </swiper>
      </div>
      <div *ngIf="!gallery.photos">
        <label class="gallery__image gallery__image-add-photos" (click)="addPhotos(gallery.id)">
          <app-upload-image id="swiper-wrapper-user-gallery"
                            (onImagesUploaded)="onImagesUploaded($event)"
                            [isMultiple]="true"
                            [withStyling]="true">
          </app-upload-image>
          <span>+</span>
        </label>
      </div>
    </div>
  </div>
</div>
<app-notification-popup [isShowNotificationPopup]="isShowNotificationPopup"
                        [notificationPopupMessage]="notificationPopupMessage"
                        [areErrors]="areErrors"
                        (onClosePopup)="closePopup()">
</app-notification-popup>


