<app-layout-round-slider-gender
  [width]="roundCircleParams?.width"
  [height]="roundCircleParams?.height"
  [radius]="roundCircleParams?.radius"
  [thick]="roundCircleParams?.thick"
  (selectedGender)="selectedGenre = $event"
>
  <div class="filter-circle__small-circle filter-circle__small-circle--genre" *ngIf="!selectedGenre.id">
    <h2 class="filter-circle__title filter-circle__title--genre">{{ 'GENRE' | translateS | async }}</h2>
  </div>
  <div class="filter-circle__small-circle filter-circle__small-circle--genre" [ngStyle]="{'background-color': selectedGenre?.color}">
    <h2 class="filter-circle__title filter-circle__title--genre">{{ selectedGenre?.legend | translateD }}</h2>
  </div>
</app-layout-round-slider-gender>
