@import "../../../../../assets/styles/variables";

:host /deep/ {
  width: 100%;
  overflow: hidden;
  .swiper {
    position: relative;
    width: 720px;
    padding-left: 65px;
    padding-right: 65px;
    right: 65px;
    .swiper-container-horizontal {
      padding-bottom: 70px;
    }
  }
  .reservation-table {
    position: relative;
    left: 65px;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 44px auto 0;
    &__wrap {
      tbody {
        display: block;
      }
    }
    &__item-day {
      text-align: center;
      margin-bottom: 26px;
      th {
        position: relative;
        left: 8px;
        @include text-mixin($color-white, 16px, $font-gotham-pro-medium);
      }
    }
    &__item {
      width: 64px;
      height: 61px;
      border-radius: 2px;
      margin: 0 19px 11px 0;
      transition: .3s ease-in;
      cursor: pointer;
      &-info {
        text-align: center;
        @include text-mixin(#012c6a, 16px, $font-gotham-pro-medium);
        &--price {
          padding: 11px 0 5px;
        }
      }
      &:hover {
        color: #fff;
        background-color: #303336 !important;
        .reservation-table__item-info {
          color: #fff;
        }
      }
    }
    td {
      vertical-align: -webkit-baseline-middle;
    }
    td, tr {
      display: block;
    }
    &__time-wrap {
      margin: 42px 21px 0 0;
    }
    &__time {
      margin: 0 0 11px;
      width: 64px;
      text-align: center;
      position: relative;
      top: 22px;
      height: 61px;
      @include text-mixin($color-white, 16px, $font-gotham-pro-medium);
    }
    &__slide {
      display: flex;
      justify-content: center;
      width: 100% !important;
    }
    &__button {
      margin-top: 10px;
      top: auto;
      height: auto;
      background-image: none;
      position: absolute;
      min-width: 145px;
      background-color: #ffce0e;
      border-radius: 5px;
      border: 2px solid #ffce0e;
      @include text-mixin($color-red, 18px, $font-roboto-regular);
      font-weight: 500;
      line-height: 1;
      padding: 8px 0 10px;
      text-align: center;
    }
    &__button-left {
      left: 0;
    }
  }
}
