<div *ngIf="showReservationTable">
  <table class="reservation-table">
    <div class="reservation-table__time-wrap">
      <p class="reservation-table__time" *ngFor="let tm of timeList">{{ tm }}</p>
    </div>
    <swiper [config]="sliderConfig" class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reservation-table__slide" *ngFor="let res of roomReservationData; let i = index;">
          <div class="reservation-table__wrap" *ngFor="let rsrv of res">
            <tr class="reservation-table__item-day">
              <th>{{convert(rsrv[2])}}</th>
            </tr>
            <tr class="reservation-table__items">
              <td *ngFor="let rsrvItem of rsrv[1].time">
                <div class="reservation-table__item" (click)="onSelectedItem(rsrvItem, rsrv[2])"
                     [ngStyle]="{'background-color': rsrvItem?.background }">
                  <div class="reservation-table__item-info"
                       *ngIf="!rsrvItem?.is_booked && !rsrvItem?.is_bought && !rsrvItem?.is_past">
                    <p class="reservation-table__item-info--price">{{rsrvItem?.price}}</p>
                    <p class="reservation-table__item-info--currency">{{rsrvItem?.currency}}</p>
                  </div>
                </div>
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev reservation-table__button reservation-table__button-left">{{ 'Previous Days' | translateS | async }}</div>
      <div class="swiper-button-next reservation-table__button reservation-table__button-right">{{ 'Next Days' | translateS | async }}</div>
    </swiper>
  </table>
</div>
