<header class="toolbar">
    <input id="toolbar__checkbox" type="checkbox">

    <label for="toolbar__checkbox" class="toolbar__toggle-menu">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="toolbar__logo">
        <a class="logo" [routerLink]="'/'">
            <img class="logo__img" src="./assets/images/logo.svg" alt="logo">
        </a>
    </div>

    <div class="toolbar__menu">
        <div class="menu" [routerLink]="'/'">
            <a class="menu__link" *ngFor="let link of links" (click)="scrollTo(link.target)">{{ link.name }}</a>
        </div>
        <div class="toolbar__lang-mob">
            <span class="active">PL</span>
            <span>EN</span>
        </div>
    </div>

    <div class="toolbar__lang">
        <span class="toolbar__lang-text" *ngIf="!(user | async)" (click)="showLoginPopup()">Вход и регистрация</span>
        <div class="toolbar__user-exist" *ngIf="(user | async)">
          <span class="toolbar__lang-text toolbar__cabinet" routerLink="/cabinet/">Личный кабинет</span>
          <span class="toolbar__lang-text toolbar__logout" (click)="logout()" routerLink="/">Выйти</span>
        </div>
        <app-layout-select-language></app-layout-select-language>
    </div>

    <div class="toolbar__user">
        <i class="fa fa-user-o toolbar__user-icon" aria-hidden="true"></i>
    </div>
</header>

<app-login
  [isShowLoginPopup]="isShowLoginPopup"
  (onClosePopup)="closeLoginPopup()"
></app-login>
