<div class="select-dropdown__wrapper" (click)="toggleListOptions()">
    <span class="select-dropdown__placeholder">{{ placeholder }}</span>
    <span class="select-dropdown__arrow" [ngClass]="{'select-dropdown__arrow--active': isShowListOptions}"></span>
</div>
<select class="select-dropdown__list" *ngIf="isShowListOptions">
    <option
        class="select-dropdown__item"
        *ngFor="let item of listOptions"
    >
        <input type="checkbox" name="select-dropdown__checkbox"
            disableRipple
            class="select-dropdown__checkbox"
            (change)="updateListOptions($event, item)"
        >
            {{ item }}
    </option>
</select>

