<div class="create-review-wrapper">
  <h1 class="create-review-wrapper__title">{{ 'ADD A REVIEW' | translateS | async }}</h1>
  <div class="create-review">
    <div class="create-review__left">
      <div class="create-review__select-room create-review__left-field">
        <label class="label">{{ 'Name of room' | translateS | async }}</label>
        <select [(ngModel)]="newReview.roomId"
                class="create-review__select"
                (ngModelChange)="onRoomSelected()"
        >
          <option name="review-room-option" [value]="0">{{'  '}}</option>
          <option name="review-room-option"
                  *ngFor="let room of rooms"
                  [value]="room.id">
            {{ room.name.en }}
          </option>
        </select>
      </div>
      <div class="create-review__select-date create-review__left-field">
        <label class="label">{{ 'Date of passage' | translateS | async }}</label>
        <select [(ngModel)]="newReview.visited"
                class="create-review__select"
        >
          <option name="review-room-option">{{'  '}}</option>
          <option name="review-room-option"
                  *ngFor="let dateOfVisit of datesOfVisit"
                  [disabled]="!newReview.roomId"
                  [value]="dateOfVisit">
            {{ dateOfVisit | date:'dd-MM-yyyy' }}
          </option>
        </select>
      </div>
    </div>
    <div class="create-review__right">
      <label class="label">{{ 'Your review' | translateS | async }}</label>
      <textarea [(ngModel)]="newReview.review"
                name="review-textarea"
                class="create-review__textarea"
      ></textarea>
    </div>
  </div>
  <button class="create-review__submit"
          (click)="save()"
  >{{ 'Add' | translateS | async }}
  </button>
</div>
