@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/_mixins";

:host /deep/ {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  .reserved-room {
    &__title {
      margin: 90px auto 29px;
      letter-spacing: 1.8px;
      font-weight: bold;
      @include text-mixin($color-white, 22px, $font-gotham-pro-medium);
    }

    &__select {
      color: red;
    }
  }
  app-layout-select-list-rooms {
    margin: 0 auto;
  }
}

@media #{$tablet-x2} {
  :host /deep/ {
    .reserved-room {
      &__title {
        margin: 63px auto 26px;
      }
    }
  }
}

@media #{$tablet-x1} {
  :host /deep/ {
    .reserved-room {
      &__title {
        font-size: 18px;
        margin: 48px auto 21px;
      }
    }
  }
}

@media #{$mobile} {
  :host /deep/ {
    .reserved-room {
      &__title {
        font-size: 18px;
        margin: 62px auto 25px;
      }
    }
  }
}
