<h3 class="reserved-room__title title">REZERWUJ</h3>
<app-layout-select-list-rooms [preSelectedRoom$]="selectedRoom$"
                              (selectedRoom)="onSelectRoom($event)"
                              [isOpenedRoomPage]="isOpenedRoomPage"
></app-layout-select-list-rooms>
<app-main-reserved-calendar (selectedItem)="onSelectItem($event)"
                            [showReservationTable]="showReservationTable"
                            [room]="selectedRoom"
                            [roomReservationData]="roomReservationData"
                            [timeList]="timeList"
></app-main-reserved-calendar>
<app-main-reserved-form [reserveData]="reserveData"
                        [showOrderingTable]="showOrderingTable"
                        [room]="selectedRoom"
></app-main-reserved-form>
