<div class="login-popup">
  <h4 class="login-popup__title"></h4>
  <div class="login-popup__social-wrapper">
    <div class="login-popup__social">
      <div class="login-popup__social-icon login-popup__social--facebook">
        <i class="fa fa-facebook"></i>
      </div>
      <p class="login-popup__social-name">Facebook</p>
    </div>
    <div class="login-popup__social">
      <div class="login-popup__social-icon login-popup__social--vk">
        <i class="fa fa-vk"></i>
      </div>
      <p class="login-popup__social-name">VK</p>
    </div>
    <div class="login-popup__social">
      <div class="login-popup__social-icon login-popup__social--twitter">
        <i class="fa fa-twitter"></i>
      </div>
      <p class="login-popup__social-name">Twitter</p>
    </div>
    <div class="login-popup__social">
      <div class="login-popup__social-icon login-popup__social--google">
        <i class="fa fa-google-plus"></i>
      </div>
      <p class="login-popup__social-name">Google+</p>
    </div>
  </div>
</div>
