<div class="room__bg" [ngStyle]="{'background-image': 'url(' + room.img + ')'}">
  <div class="room__bg--darkened">
      <header class="room__header">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
      </header>
      <div class="room__wrapper">
          <h3 class="room__title">
              POKÓJ <br>
              "{{ room.name }}"
          </h3>
          <div class="room__details">
              <div class="room__details-item">
                  <img class="room__details-icon" src="../../../../../../assets/images/clock.svg" alt="img details clock" >
                  <span class="room__details-text">{{ room.duration }}</span>
              </div>
              <div class="room__details-item">
                  <img class="room__details-icon" src="../../../../../../assets/images/person.svg" alt="img details person">
                  <span class="room__details-text">{{ room.countPerson }} osob</span>
              </div>
              <div class="room__details-item">
                  <img class="room__details-icon" src="../../../../../../assets/images/clock.svg" alt="img details genre">
                  <span class="room__details-text">{{ room.level }}</span>
              </div>
          </div>

          <button class="btn room__btn" (click)="reserve()">Rezervuj</button>
      </div>
    </div>
</div>
