<p class="main__description">
    Цель игры — выйти из комнаты. <br>
    Против вас — загадки, потайные механизмы, <br>
    кодовые замки, сейфы. За вас — команда друзей. <br>
    Удачи!
</p>
<app-main-swiper-room id="quests"></app-main-swiper-room>
<app-main-select-room></app-main-select-room>
<app-main-reserved-room id="reserved-room"></app-main-reserved-room>
<app-main-org-rule id="org-rule"></app-main-org-rule>
<app-main-shares id="shares"></app-main-shares>
<!--<app-main-booking-room></app-main-booking-room>-->
<app-main-reviews id="reviews"></app-main-reviews>
<app-main-map id="contacts"></app-main-map>
