<app-layout-toolbar></app-layout-toolbar>
  <p class="main__description">
    {{ description.def }}
  </p>
  <app-main-swiper-room id="quests"></app-main-swiper-room>
  <app-main-select-room></app-main-select-room>
  <app-main-reserved-room id="reserved-room"></app-main-reserved-room>
  <app-main-org-rule id="org-rule"></app-main-org-rule>
  <app-main-shares id="shares"></app-main-shares>
  <!--<app-main-booking-room></app-main-booking-room>-->
  <app-main-reviews id="reviews"></app-main-reviews>
  <app-main-map id="contacts"></app-main-map>
<app-layout-footer></app-layout-footer>
