@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/_mixins";

:host /deep/ {
  .main {
    &__description {
      width: 380px;
      margin: 0 auto;
      text-align: center;
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      line-height: 28px;
      padding-top: 50px;
    }
  }
  @media #{$tablet-x2} {
    .main {
      &__description {
        padding-top: 10px;
      }
    }
  }
  @media #{$tablet-x1} {
    .main {
      &__description {
        font-size: 15px;
        line-height: 24px;
        padding-top: 10px;
      }
    }
  }
}
