@import "../../../../assets/styles/variables";

:host /deep/ {
  .cabinet {
    &__title {
      @include text-mixin($color-white, 20px, $font-gotham-pro-bold);
      line-height: 1;
      text-transform: uppercase;
      text-align: left;
      padding-bottom: 31px;
      max-width: 960px;
      margin: 0 auto;
    }
  }
}
