@import "../../../../../assets/styles/variables";

:host /deep/ {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  .reviews {
    &__title {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &__list {
      &-item:last-child {
        .line { display: none; }
      }
    }

    &__pagination {
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      margin-top: 30px;
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    &__auth {
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      text-align: center;
      margin-top: 30px;
      margin-bottom: 50px;
      width: 100%;
    }
  }
}
