@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/_mixins";

:host /deep/ {
  position: relative;
  max-width: 960px;
  display: block;
  margin: 0 auto;
  .shares {
    &__title {
      padding-bottom: 35px;
      padding-top: 55px;
    }

    &__img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }

    &__description {
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      line-height: 21px;
      margin-top: 20px;
    }
  }
  swiper {
    margin: 0 auto;
    width: 800px;
    .swiper-slide {
      width: 390px;
    }
    .swiper-lazy-preloader {
      left: 0;
      top: -155px;
      display: block;
      margin: 0 auto -35px;
      width: 29px;
      height: 29px;
      position: relative;
      border: 4px solid $color-yellow;
      animation: cssload-loader 3.2s infinite ease;
      &::after {
        background: none;
      }
    }
    .swiper-lazy-loader-inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: $color-yellow;
      animation: cssload-loader-inner 3.2s infinite ease-in;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: -60px;
    height: 60px;
    width: 48px;
    background-size: contain;
  }
  .swiper-button-prev {
    background-image: url('../../../../assets/images/arrow-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    transform: rotate(180deg);
  }
  .swiper-button-next {
    background-image: url('../../../../assets/images/arrow-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
  }
}

@media #{$tablet-x2} {
  :host /deep/ {
    padding-top: 85px;
    .shares-swiper {
      width: 640px;
      .swiper-slide {
        width: 310px !important;
      }
    }
    .shares-swiper-button-prev,
    .shares-swiper-button-next {
      margin-top: 0;
    }
    .shares {
      &__description {
        line-height: 1.25;
        margin-top: 18px;
        font-size: 15px;
      }
      &__img {
        height: 240px;
      }
    }
  }
}

@media #{$tablet-x1} {
  :host /deep/ {
    padding-top: 45px;
    .shares-swiper {
      width: 452px;
      .swiper-slide {
        width: 216px !important;
      }
    }
    .shares-swiper-button-prev,
    .shares-swiper-button-next {
      margin-top: -25px;
    }
    .shares {
      &__title {
        font-size: 18px;
      }
      &__description {
        line-height: 1.25;
        margin-top: 10px;
        font-size: 12px;
      }
      &__img {
        height: 180px;
      }
    }
  }
}

@media #{$mobile} {
  :host /deep/ {
    padding-top: 170px;
    padding-bottom: 62px;
    .shares {
      &__title {
        text-align: left;
        padding: 20px 37px 27px;
      }
      &__img {
        height: 253px;
      }
      &-swiper {
        width: 100%;
        .swiper-wrapper {
          transform: translate3d(0,0,0) !important;
          .swiper-slide {
            width: 0 !important;
            margin-right: 0 !important;
            .shares__description {
              display: none;
              font-size: 14px;
              line-height: 1.5;
            }
            .spinner-preload.swiper-lazy-preloader {
              display: none;
            }
          }
          .swiper-slide.swiper-slide-active {
            width: 74% !important;
            .shares__description {
              display: block;
            }
          }
          .swiper-slide-prev,
          .swiper-slide-next {
            width: 10% !important;
          }
          .swiper-slide-prev {
            padding-right: 3%;
          }
          .swiper-slide-next {
            padding-left: 3%;
          }
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}

@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-loader-inner {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
