<div class="admin-home">
  <h1 class="admin-home__title">Home Page</h1>
  <div class="admin-home__greeting">
    <p class="admin-home__greeting-title">Hello, Quest-R company</p>
    <p class="admin-home__greeting-content">
      Using this panel you can edit information about your company and rooms. Just choose one of the many options from the menu.
      Please, remember that many changes are moderated before being published to the website.
      If you have any questions - contact us.
    </p>
    <p class="admin-home__greeting-team">
      Quest-R team
    </p>
  </div>
</div>
