<div class="admin">
  <h1 class="admin__title">Home Page</h1>
  <div class="admin__greeting">
    <p class="admin__greeting-title">Hello, {{ companyData.companyName }}</p>
    <p class="admin__greeting-content">
      Using this panel you can edit information about your company and rooms. Just choose one of the many options from the menu.<br>
      Please, remember that many changes are moderated before being published to the website.<br>
      If you have any questions - contact us.<br>
    </p>
    <p class="admin__greeting-team">
      Quest-R team
    </p>
  </div>
</div>
