@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/_mixins";

:host /deep/ {
  height: 800px;
  width: 100%;
  display: block;
  position: relative;
  agm-map {
    height: 100%;
    width: 100%;
  }
  .map {
    &__bg {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $color-black;
    }

    &__contact {
      padding: 25px;
      background-image: linear-gradient(213deg, #3a3b3d, #373d43 34%, #0e0f10);
      height: 670px;
      width: 340px;
    }

    &__title {
      letter-spacing: 1px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: 20px auto 0;
    }

    &__label {
      margin-top: 12px;
    }

    &__btn {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      max-width: 960px;
      margin: 0 auto;
      height: 100%;
    }

    &__text {
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      line-height: 21px;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 25px;
      text-decoration: none;
      display: block;
      &:last-child {
        line-height: 24px;
      }
    }

    &__list-icon {
      display: flex;
      justify-content: center;
      &-item {
        &:not(:last-child) {
          margin-right: 25px;
        }
        a i.fa {
          color: $color-white;
          font-size: 27.5px;
          transition: color 0.5s;
          &:hover {
            color: $color-yellow;
          }
        }
      }
    }
  }
}

@media #{$tablet-x2} {
  :host /deep/ {
    .map__wrapper {
      .title {
        font-size: 18px;
      }
      .map__text {
        font-size: 16px;
      }
    }
  }
}

@media #{$tablet-x1} {
  :host /deep/ {
    .map__wrapper {
      .title {
        font-size: 16px;
      }
      .map__text {
        font-size: 16px;
      }
    }
    .map__contact {
      height: 470px;
      width: 220px;
    }
    .map__title {
      font-size: 16px;
    }
    .map__form {
      width: 180px;
      margin: 10px auto 0;
      .label {
        font-size: 12px;
        margin-top: 10px;
      }
      .input {
        padding: 0 6px;
        height: 30px;
        font-size: 12px;
      }
      .input--textarea {
        padding: 6px;
        height: 54px;
      }
      .btn {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 7px;
      }
    }
    .map__contact-info {
      .title {
        font-size: 14px;
      }
      .map__text {
        font-size: 11px;
        margin-bottom: 12px;
        &:last-child {
          line-height: 1.4;
        }
      }
    }
  }
}

@media #{$mobile} {
  :host /deep/ {
    height: 720px;
    agm-map {
      display: none;
    }
    .map__bg {
      background-color: initial;
      .map__contact {
        background-image: initial;
        width: 100%;
        .map__title {
          width: 90%;
          margin: auto;
          font-size: 18px;
          text-align: left;
          min-width: 250px;
        }
        .map__form {
          width: 90%;
          margin: 18px auto 0;
          min-width: 250px;
          .label {
            font-size: 14px;
          }
          .map__label {
            margin-top: 10px;
          }
          .map__btn {
            padding: 11px;
            margin-bottom: 38px;
          }
        }
        &-info {
          width: 80%;
          margin: auto;
        }

        .map__list-icon {
          padding: 16px 0 34px;
        }
      }
    }
  }
}

