<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__logo">
            <a class="logo">
                <img class="logo__img" src="./assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="footer__copyright">
            Copyright &copy; 2017
        </div>
        <div class="footer__dev">
            Realizacja
            <a href="https://samsonos.com/" target="_blank" class="footer__link">
                <img alt="samsonos-logo" class="footer__img" src="./assets/images/samsonos-logo.svg">
            </a>
        </div>
    </div>
</footer>