<div class="history-wrapper wrap">
  <table class="history-table">
    <tr class="history-table__header-wrapper">
      <th class="history-table__header">{{ 'Name of room' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Date' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Time of passage' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Review' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Photo' | translateS | async }}</th>
    </tr>
    <tr *ngFor="let history of historyData" class="history-table__content-wrapper">
      <td class="history-table__content" align="left">{{ history.roomName }}</td>
      <td class="history-table__content" align="center">{{ history.date }}</td>
      <td class="history-table__content" align="center">{{ history.passingTime }}</td>
      <td class="history-table__content" align="center">{{ history.review }}</td>
      <td class="history-table__content" align="center">{{ history.photo }}</td>
    </tr>
  </table>
</div>
