@import "../../../../../assets/styles/variables";

.history-wrapper {
  max-width: 960px;
  margin: 40px auto;
  height: auto;
  .history-table {
    width: 100%;
    &__header {
      @include text-mixin($color-yellow-light, 18px, $font-gotham-pro-medium);
      padding-bottom: 43px;
      font-weight: 500;
      line-height: 1.17;
    }
    &__content {
      @include text-mixin($color-white, 16px, $font-gotham-pro-light);
      padding-bottom: 30px;
    }
  }
}
