<div class="history-wrapper wrap">
  <table class="history-table">
    <tr class="history-table__header-wrapper">
      <th class="history-table__header">{{ 'Name of room' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Date' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Time of passage' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Review' | translateS | async }}</th>
      <th class="history-table__header">{{ 'Photo' | translateS | async }}</th>
    </tr>
    <tr *ngFor="let history of historyData" class="history-table__content-wrapper">
      <td class="history-table__content" align="center">{{ history?.roomId | roomName | async }}</td>
      <td class="history-table__content" align="center">{{ history.bookingDate | date:'dd-MM-yyyy' }}</td>
      <td class="history-table__content" align="center">{{ history?.duration }}</td>
      <!--<td class="history-table__content" align="center">{{ history.review }}</td>-->
      <td class="history-table__content history-table__content-underline" *ngIf="history.review" align="center">
        <a [routerLink]="'/cabinet/reviews/'">See review</a>
      </td>
      <td class="history-table__content history-table__content-add" *ngIf="!history.review" align="center">
        <a [routerLink]="'/cabinet/reviews/'">Add review</a>
      </td>
      <td class="history-table__content history-table__content-underline" *ngIf="history.photos && history.photos.length" align="center">
        <a [routerLink]="'/cabinet/gallery/'">See photos</a>
      </td>
      <td class="history-table__content history-table__content-add" *ngIf="!history.photos" align="center">
        <a [routerLink]="'/cabinet/gallery/'">Add photos</a>
      </td>
    </tr>
  </table>
</div>
