@import "../../../../../assets/styles/variables";

.history-wrapper {
  max-width: 960px;
  margin: 40px auto;
  height: auto;
  .history-table {
    width: 100%;
    &__header {
      text-align: center;
      @include text-mixin($color-yellow-light, 18px, $font-gotham-pro-medium);
      padding-bottom: 43px;
      font-weight: 500;
      line-height: 1.17;
    }
    &__content {
      @include text-mixin($color-white, 16px, $font-gotham-pro-light);
      padding-bottom: 30px;
      a {
        color: #fff;
      }
    }
    &__content-underline {
      text-decoration: underline;
    }
    &__content-add {
      a {
        &::before {
          content: '+';
          @include text-mixin(#F8C90E, 16px, $font-gotham-pro-light);
          padding-right: 4px;
        }
      }
    }
  }
}
