@import "../../../../assets/styles/variables";

:host /deep/ {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 105px auto 52px;
  .reviews {
    &__title {
      margin-bottom: 30px;
    }

    &__list {
      width: 100%;
      &-item:last-child {
        .line { display: none; }
      }
    }

    &__pagination {
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      margin-top: 30px;
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    &__auth {
      @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
      text-align: center;
      margin-top: 30px;
      margin-bottom: 14px;
      width: 100%;
    }
  }
  .share-button {
    @include text-mixin($color-white, 16px, $font-gotham-pro-regular);
    text-align: center;
    width: 293px;
    display: block;
    margin: 0 auto;
    padding: 11px 0 13px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #3f5b9a;
    //&::before {
    //  content: '&f09a';
    //  font-size: 20px;
    //  background-color: #fff;
    //  background-repeat: no-repeat;
    //  background-size: 20px 20px;
    //  width: 20px;
    //  height: 20px;
    //}
  }
}
