<div class="admin" [class.main-loader]="isShowLoader">
  <h1 class="admin__title">Companies terms of service</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="admin__content">
        <p class="admin__content-title">Companies terms of service</p>
        <div class="admin__data admin-terms-of-service__data">
          <p>Regulamin serwisu lockme.pl dla przedsiębiorców</p>
          <p>Data publikacji: 12.09.2016</p>
          <p>Niniejszy regulamin dotyczy wyłącznie przedsiębiorców,
            którzy w ramach prowadzonej działalności gospodarczej zajmują się udostępnianiem pokojów typu
            „escape room” swoim klientom.</p>
            <p>Administratorem serwisu lockme.pl jest Jakub Caban, prowadzący działalność gospodarczą pod firmą
              „JAKUB CABAN WhyBlack” z siedzibą we Wrocławiu (51-677), ul. Potebni 23/5, wpisany do Centralnej
              Ewidencji i Informacji o Działalności Gospodarczej, posługujący się numerem NIP 898-209-36-73.</p>
            <p>Kontakt z administratorem serwisu możliwy jest pod adresem e-mail kontakt@lockme.pl.</p>
        </div>
      </div>
    </div>
  </div>
</div>
