$mobile: "only screen and (max-width: 529px)";
$tablet-x1: "only screen and (min-width: 529px) and (max-width: 756px)";
$tablet-x2: "only screen and (min-width: 756px) and (max-width: 949px)";
$desktop: "only screen and (min-width: 950px) and (max-width: 1128px)";
$desktop-xl: "only screen and (min-width: 1200px)";
$desktop-x2: "only screen and (min-width: 1600px)";
$color: #fff;
