@import "variables";
@import "_mixins";

.filter-hint {
  display: flex;
  z-index: 100;
  position: relative;
  left: 6px;
  ul {
    position: relative;
    bottom: 12px;
    li {
      border-radius: 5px;
      text-align: center;
      @include text-mixin($color-white, 16px, $font-gotham-pro-medium);
      line-height: 2.2;
      padding: 0 10px;
      display: none;
      margin: 5px 0;
      &:last-child {
        display: block;
      }
    }
  }
  &__delete {
    position: relative;
    color: #c21313;
    font-size: 20px;
  }
}
.filter-hint-marking {
  ul {
    li {
      display: none;
      &:last-child {
        display: block;
      }
    }
  }
}

@media #{$tablet-x2} {
  .filter-hint {
    display: block;
    ul {
      li {
        line-height: 1.2;
        padding: 0 0 0 10px;
        font-size: 14px;
      }
    }
  }
}
