@import "variables";
@import "_mixins";

.filter-hint {
  position: absolute;
  display: flex;
  z-index: 100;
  ul {
    li {
      border-radius: 5px;
      text-align: center;
      @include text-mixin($color-white, 16px, $font-gotham-pro-medium);
      line-height: 2.2;
      padding: 0 10px;
      margin: 5px 0;
    }
  }
  &__delete {
    position: relative;
    color: #c21313;
  }
}

@media #{$tablet-x2} {
  .filter-hint {
    display: block;
    ul {
      li {
        line-height: 1.2;
        padding: 0 0 0 10px;
        font-size: 14px;
      }
    }
  }
}
