@import "variables";

.menu {
  display: flex;
  align-items: flex-end;
  height: 100%;
  &__link {
    @include text-mixin($color-white, 18px, $font-gotham-pro-bold);
    cursor: pointer;
    white-space: nowrap;

    transition: color 0.5s;

    &:not(:last-child) { margin-right: 20px; }

    &:hover {
      color: $color-yellow;
    }
  }
}

@media (max-width: $laptop) {
  .menu {
    &__link {
      font-size: 16px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .menu {
    flex-wrap: wrap;
    &__link {
      width: 100%;
      padding-bottom: 30px;
      text-align: center;

      &:not(:last-child) { margin-right: 0; }
      &:first-child { padding-top: 30px; }
      &:hover { color: $color-white; }
    }
  }
}
