<div class="admin" [class.main-loader]="isShowLoader">
  <h1 class="admin__title">Company Data</h1>
  <div class="admin__content">
    <p class="admin__content-title">Company Data</p>
    <div class="admin__data">
      <div class="admin__data-item">
        <p class="admin__data-item-title">Company name</p>
        <input class="admin-input"
               name="company-name"
               value="{{ companyData.companyName }}"
               [(ngModel)]="companyData.companyName"
        />
      </div>
      <div class="admin__data-item admin__data-item-image">
        <p class="admin__data-item-title">Logo</p>
        <div class="admin__data-item-logo" *ngIf="companyData.logo" [ngStyle]="{'background-image': 'url(' + companyData?.logo  + ')'}">
          <i class="fa fa-close" (click)="deleteImage()"></i>
        </div>
      </div>
      <div class="admin__data-item">
        <p class="admin__data-item-title">New logo (for best result use square, min. 290x290px)</p>
        <app-upload-image [companyLogo]="companyData.logo" (onImageUploaded)="onImageUploaded($event)"></app-upload-image>
      </div>
      <div class="admin__data-item">
        <p class="admin__data-item-title">Website address</p>
        <input class="admin-input" name="company-website-address" value="{{ companyData?.websiteAddress }}"/>
      </div>
      <div class="admin__data-item">
        <p class="admin__data-item-title">Facebook fanpage</p>
        <input class="admin-input"
               name="company-facebook-fanpage"
               value="{{ companyData?.facebookFanpage }}"
               [(ngModel)]="companyData.facebookFanpage"
        />
      </div>
      <div class="admin__data-item">
        <div class="admin__data-item-switch-language"></div>
        <p class="admin__data-item-title">
          About company - all changes to this field are MODERATED and will be visible on website WITH DELAY</p>
        <textarea class="admin-input admin__data-item-textarea"
                  name="company-description"
                  [(ngModel)]="companyData.aboutCompany"
        > {{ companyData?.aboutCompany }}
        </textarea>
      </div>
      <div class="admin__data-item">
        <p class="admin__data-item-title">Language of system e-mails</p>
        <select class="admin-input admin__data-item-select"
                name="company-facebook-fanpage">
          <option>Poland</option>
          <option>English</option>
        </select>
      </div>
    </div>
    <div class="admin-btn-wrap">
      <button class="btn btn-primary admin-btn" (click)="save()">Save</button>
    </div>
    <div *ngIf="isShowNotificationPopup" id="notification-popup" style="width: 100%; height: 100%;">
      <div class="popup">
        <i class="popup-close fa fa-close" (click)="closePopup()"></i>
        <div class="popup-content">
          <p [ngStyle]="{'color': !areErrors | popupColor: !areErrors }">{{ notificationPopupMessage }}</p>
        </div>
        <div class="popup-footer" [ngStyle]="{'background-color': !areErrors | popupColor: !areErrors }"></div>
      </div>
    </div>
  </div>
</div>
