<div class="admin" [class.main-loader]="isShowLoader">
  <h1 class="admin__title">Configuration</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="admin__content">
        <p class="admin__content-title">Change Password</p>
        <div class="admin__data">
          <div class="admin__data-item change-password-item">
            <label for="current-company-password" class="conf-label admin-label">Current password</label>
            <input class="admin-input"
                   type="password"
                   id="current-company-password"
                   name="company-password"
                   #currentPassword
            />
          </div>
          <div class="admin__data-item change-password-item">
            <label for="new-company-password" class="conf-label admin-label">New password</label>
            <input class="admin-input"
                   type="password"
                   id="new-company-password"
                   name="new-company-password"
                   [(ngModel)]="newPassword"
            />
          </div>
          <div class="admin__data-item change-password-item">
            <label for="repeated-new-company-password" class="conf-label admin-label">Repeat password</label>
            <input class="admin-input"
                   type="password"
                   id="repeated-new-company-password"
                   name="repeated-new-company-password"
                   [(ngModel)]="confirmedNewPassword"
            />
          </div>
        </div>
        <div class="admin-btn-wrap">
          <button class="btn btn-primary admin-btn" (click)="save(currentPassword)">Save</button>
        </div>
      </div>
    </div>
    <div *ngIf="isShowNotificationPopup" id="notification-popup" style="width: 100%; height: 100%;">
      <div class="popup">
        <i class="popup-close fa fa-close" (click)="closePopup()"></i>
        <div class="popup-content">
          <p [ngStyle]="{'color': !areErrors | popupColor: !areErrors }">{{ notificationPopupMessage }}</p>
        </div>
        <div class="popup-footer" [ngStyle]="{'background-color': !areErrors | popupColor: !areErrors }"></div>
      </div>
    </div>
  </div>
</div>
