<progress
  *ngIf="fileInfo.progress"
  max="100"
  [value]="fileInfo.progress">
</progress>
<div
  class="error"
  *ngIf="fileInfo.error !== ''">
  {{fileInfo.error}}
</div>
<input *ngIf="!isMultiple"
       [class.download-button]="withStyling"
       type="file"
       (change)="onUploadPhoto($event)"
       placeholder="Upload file"
       accept=".jpeg,.png,.jpg,.svg,.gif">

<input *ngIf="isMultiple"
       [class.download-button]="withStyling"
       type="file"
       multiple
       (change)="onUploadPhoto($event)"
       placeholder="Upload file"
       accept=".jpeg,.png,.jpg">
